* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #171717;
}
h1,
h6 {
  color: white;
}
.circular {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 8vh;
}
.circular.active {
  min-height: 100vh;
}
.menu {
  position: relative;
  width: 580px;
  height: 120px;
  display: flex;
  justify-content: center;
}
.menu.active {
  position: relative;
  width: 550px;
  height: 100px;
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.para.active {
  height: 10px;
  display: none;
  transition: height 5s;
  transition-delay: 2s;
}

.menu li {
  position: absolute;
  left: 0;
  list-style: none;
  transform-origin: 270px;
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
  transform: rotate(0deg) translateX(230px) translateY(3px);
}
.menu.active li {
  transform: rotate(calc(360deg / 9 * var(--i)));
}

.menu li a {
  display: flex;
  color: white;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  text-decoration: none;
  transform: rotate(calc(360deg / -9 * var(--i)));
  transition: 0.5s;
  background: black;
  border: 2px solid #1f45b8;
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 50%),
    -2px -2px 2px 1px rgb(108 108 108 / 20%),
    inset 2px 2px 2px 2px rgb(0 0 0 / 50%),
    inset -2px -2px 2px 1px rgb(108 108 108 / 20%);
}
.toggle {
  position: absolute;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2em;
  transition: transform 1.25s;
}
.menu.active .toggle {
  transform: rotate(360deg);
}

.toggle h4 {
  font-size: 55px;
  background-color: #18191f;
  height: 90px;
  width: 180px;
  color: #fff;
  border-radius: 10px;
  padding: 8px 30px;
  border: 1px solid white;
  text-shadow: 0 0 10px #ff00ad, 0 0 25px #ff00ad, 0 0 30px #ff00ad,
    0 0 35px #ff00ad;
}
